.p1 {
  font_family: monospace;
}

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: red;
}

.h1 {
  color: darkgreen
}
